<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light shadow">
	<div class="container-fluid">
		<a class="navbar-brand brandFont me-4 ms-2" href="/">CurrentCourant.com</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span id="customMenu" class="ccBtn navText">Menu</span>
		</button>
		<div class="collapse navbar-collapse navText" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="ccBtn ms-2 me-3 my-2" href="/articles">Front Page</a>
				<a class="ccBtn ms-2 me-3 my-2" href="/articles/new">Publish Article</a>
			</div>
			<div class="navbar-nav ms-auto">
				<% if(!currentUser) { %>
				<a class="ccBtn ms-2 me-3 my-2" href="/login">Login</a>
				<a class="ccBtn ms-2 me-3 my-2" href="/register">Register</a>
				<% } else { %>
				<a class="ccBtn ms-2 me-3 my-2" href="/logout">Logout</a>
				<% } %>
			</div>
		</div>
	</div>
</nav>