<% layout('layouts/boilerplate') %>
<div class="row">
	<h1 class="text-center">New Article</h1>
	<div class="col-6 offset-3">
		<form action="/articles" method="POST" novalidate class="validateForm">
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<input class="form-control" type="text" id="title" name="article[title]" required>
				<div class="valid-feedback">
					Sounds good!
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="image">Image URL</label>
				<input class="form-control" type="text" id="image" name="article[image]" required>
				<div class="valid-feedback">
					Looks great!
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="content">Content</label>
				<textarea class="form-control" type="text" id="content" name="article[content]" required></textarea>
				<div class="valid-feedback">
					Delightful piece!
				</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-dark">Publish Article</button>
			</div>
		</form>
		<div>
			<a class="btn btn-dark" href="/articles">All Articles</a>
		</div>
	</div>
</div>